body {
    background-color: bisque;
}


.host {
    background-color: white;
}

.guest {
    background-color: white;
}

#continue { 
    display: none;
}

#host, #remoteVideo {
    width: 100%;
}

.btn-dark {
    border-radius: 10rem;
    width: 5rem;
    height: 2.5rem;
}

#btn-call {
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
}

